{%- if settings.social_facebook_link != blank -%}
  <a href="{{ settings.social_facebook_link }}" class="social-link" aria-label="Facebook" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-facebook icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_instagram_link != blank -%}
  <a href="{{ settings.social_instagram_link }}" class="social-link" aria-label="Instagram" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-instagram icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_twitter_link != blank -%}
  <a href="{{ settings.social_twitter_link }}" class="social-link" aria-label="Twitter" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-x-twitter icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_youtube_link != blank -%}
  <a href="{{ settings.social_youtube_link }}" class="social-link" aria-label="YouTube" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-youtube icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_tiktok_link != blank -%}
  <a href="{{ settings.social_tiktok_link }}" class="social-link" aria-label="TikTok" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-tiktok icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_pinterest_link != blank -%}
  <a href="{{ settings.social_pinterest_link }}" class="social-link" aria-label="Pinterest" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-pinterest icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_linkedin_link != blank -%}
  <a href="{{ settings.social_linkedin_link }}" class="social-link" aria-label="LinkedIn" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-linkedin icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_snapchat_link != blank -%}
  <a href="{{ settings.social_snapchat_link }}" class="social-link" aria-label="Snapchat" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-snapchat icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_tumblr_link != blank -%}
  <a href="{{ settings.social_tumblr_link }}" class="social-link" aria-label="Tumblr" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-tumblr icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_vimeo_link != blank -%}
  <a href="{{ settings.social_vimeo_link }}" class="social-link" aria-label="Vimeo" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-vimeo icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_discord_link != blank -%}
  <a href="{{ settings.social_discord_link }}" class="social-link" aria-label="Discord" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-discord icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_threads_link != blank -%}
  <a href="{{ settings.social_threads_link }}" class="social-link" aria-label="Threads" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-threads icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_whatsapp_link != blank -%}
  <a href="{{ settings.social_whatsapp_link }}" class="social-link" aria-label="WhatsApp" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-whatsapp icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_telegram_link != blank -%}
  <a href="{{ settings.social_telegram_link }}" class="social-link" aria-label="Telegram" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-telegram icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
{%- if settings.social_reddit_link != blank -%}
  <a href="{{ settings.social_reddit_link }}" class="social-link" aria-label="Reddit" rel="noopener noreferrer" target="_blank">
    <i class="fa-brands fa-reddit icon-social" aria-hidden="true"></i>
  </a>
{%- endif -%}
